<h2>Thông tin sinh viên : @ViewBag.mess</h2>
<form asp-action="Index">
    <label>StudentID : </label>
    <input type="text   " name="StudentID">
    <br>
    <label>StudentName : </label>
    <input type="text" name="StudentName">
    <br>
    <label>StudentAge :</label>
    <input type="text" name="StudentAge">
    <br>
    <input class="btn btn-success" type="submit" value="Save">
</form>