<table>
    <tr>
        <th>
            <label>Student Id</label>
        </th>
        <th>
            <label>Student Name</label>
        </th>
        <th>
            <label>Student Age</label>
        </th>
    </tr>
</table>