<table class="table border">
    <tr>
        <th>
            <label>Student Id</label>
        </th>
        <th>
            <label>Student Name</label>
        </th>
        <th>
            <label>Student Age</label>
        </th>
    </tr>

    @foreach (var item in ViewData["Student"] as List<Student>)
    {
        <tr>
            <td>@item.StudentID</td>
            <td>@item.StudentName</td>
            <td>@item.StudentAge</td>
        </tr>
    }
</table>