<h2>Thông tin người dùng : @ViewBag.mess</h2>
<form asp-action="Index">
    <label>PersonID : </label>
    <input type="text   " name="PersonID">
    <br>
    <label>PersonName : </label>
    <input type="text" name="PersonName">
    <br>
    <label>PersonAge :</label>
    <input type="text" name="PersonAge">
    <br>
    <input class="btn btn-success" type="submit" value="Save">
</form>