<h2>Thông tin người dùng : @ViewBag.mess</h2>
<form asp-action="Index">
    <label>EmployeeID : </label>
    <input type="text   " name="EmployeeID">
    <br>
    <label>EmployeeName : </label>
    <input type="text" name="EmployeeName">
    <br>
    <label>EmployeeAge :</label>
    <input type="text" name="EmployeeAge">
    <br>
    <input class="btn btn-success" type="submit" value="Save">
</form>